extends ../layout/main

block variables
	- var title = 'Content';
	- 
		var pagelist = [
			{href: 'splash.html',name:'Splash with loading'},
			{href: 'tipografika.html',name:'Типографика'},
		];

block content
	section
		.container
			.row
				.col-12
					div(style="padding: 40px;")
						h1 Content
						ul
							each page in pagelist
								li
									a(href=page.href, target="_blank")= page.name


