extends ../layout/main

block variables
	- var title = 'Content';
	- 
		var pagelist = [
			{href: 'splash.html',name:'Splash with loading'},
			{href: 'registration-empty.html',name:'Registration (empty)'},
			{href: 'registration.html',name:'Registration'},
			{href: 'registration-password.html',name:'Registration (password)'},
			{href: 'splash-reg.html',name:'Splash with loading (registration)'},
			{href: 'live.html',name:'Live'},
			{href: 'live-dark.html',name:'Live dark'},
			{href: 'live-single-item.html',name:'Live - single item in card'},
			{href: 'tipografika.html',name:'Typography'},
		];

block content
	section
		.container
			.row
				.col-12
					div(style="padding: 40px;")
						h1 Content
						ul
							each page in pagelist
								li
									a(href=page.href, target="_blank")= page.name


