extends ../layout/main

block variables
	- var title = 'Content';
	- 
		var pagelist = [
			{href: 'splash.html',name:'Splash with loading'},
			{href: 'registration-empty.html',name:'Registration (empty)'},
			{href: 'registration.html',name:'Registration'},
			{href: 'registration-password.html',name:'Registration (password)'},
			{href: 'splash-reg.html',name:'Splash with loading (registration)'},
			{href: 'live.html',name:'Live'},
			{href: 'live-dark.html',name:'Live dark'},
			{href: 'live-single-item.html',name:'Live - single item in card'},
			{href: 'live-hold.html',name:'Live - hold item effect'},
			{href: 'live-hold-after.html',name:'Live - after hold item effect'},
			{href: 'live-lating-orders.html',name:'Live - lating orders'},
			{href: 'live-sidebar.html',name:'Live - with sidebar and pizza example'},
			{href: 'live-trash.html',name:'Live - with trash'},
			{href: 'trash.html',name:'Trash'},
			{href: 'trash-order-selection.html',name:'Trash - order selection'},
			{href: 'trash-popup.html',name:'Trash - order selection (popup "Please choose position")'},
			{href: 'archive.html',name:'Archive'},
			{href: 'archive-select.html',name:'Archive - remake items selection'},
			{href: 'archive-remade-log.html',name:'Archive - remade log'},
			{href: 'archive-open-search.html',name:'Archive - opened search'},
			{href: 'tipografika.html',name:'Typography'},
		];

block content
	section
		.container
			.row
				.col-12
					div(style="padding: 40px;")
						h1 Content
						ul
							each page in pagelist
								li
									a(href=page.href, target="_blank")= page.name


