extends ../layout/main

block variables
	- var title = 'Типографика';
	- var h1 = 'Типографика';

block content
	section(style="padding: 40px")
		p
			a(href='#') This is a standard link

		p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.

		p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.

		br
		br
		div.h2 Additional classes for text
		p <span class="code">text-left</span> Text alignment in the left
		p <span class="code">text-center</span> Text alignment in the center
		p <span class="code">text-right</span> Text alignment in the right
		p <span class="code">text-justify</span> Text width alignment
		p <span class="code">text-uppercase</span> Uppercase text
		p <span class="code">text-bold</span> Bold text

		br
		br
		div.h2 Headers
		h1 Header - h1
		h2 Header - h2
		h3 Header - h3
		h4 Header - h4
		h5 Header - h5
		h6 Header - h6

		br
		p.h1 This is a class named h1
		p.h2 This is a class named h2
		p.h3 This is a class named h3
		p.h4 This is a class named h4
		p.h5 This is a class named h5
		p.h6 This is a class named h6

		br
		br
		br
		div.h2 Buttons
		a.btn(href='#') Button
		br
		br
		a.btn.btn_green(href='#') Button
		br
		br
		a.btn-back(href='#')
			+svg('ic-undo','ic-undo', '28', '22')
			| Button
		

		br
		br
		div.h2 Messages
		.msg Text
		br
		br
		.msg.msg_red Text

		br
		br
		div.h2 Icons
		.type-icon
			.type-icon__item
				.type-icon__img
					+svg('ic-clear','ic-clear', '25', '20')
				.type-icon__name ic-clear

			.type-icon__item
				.type-icon__img
					+svg('ic-undo','ic-undo', '28', '22')
				.type-icon__name ic-undo

			.type-icon__item
				.type-icon__img
					+svg('ic-tableware','ic-tableware', '30', '30')
				.type-icon__name ic-tableware

			.type-icon__item
				.type-icon__img
					+svg('ic-bell','ic-bell', '16', '16')
				.type-icon__name ic-bell

			.type-icon__item
				.type-icon__img
					+svg('ic-crown','ic-crown', '24', '24')
				.type-icon__name ic-crown

			.type-icon__item
				.type-icon__img
					+svg('ic-login','ic-login', '22', '22')
				.type-icon__name ic-login

			.type-icon__item
				.type-icon__img
					+svg('ic-clock','ic-clock', '19', '19')
				.type-icon__name ic-clock

			.type-icon__item
				.type-icon__img
					+svg('ic-arrow-left','ic-arrow-left', '40', '40')
				.type-icon__name ic-arrow-left

			.type-icon__item
				.type-icon__img
					+svg('ic-arrow-right','ic-arrow-right', '40', '40')
				.type-icon__name ic-arrow-right

			.type-icon__item
				.type-icon__img
					+svg('ic-check','ic-check', '29', '21')
				.type-icon__name ic-check

			.type-icon__item
				.type-icon__img
					+svg('ic-note','ic-note', '38', '38')
				.type-icon__name ic-note

			.type-icon__item
				.type-icon__img
					+svg('ic-trash','ic-trash', '31', '34')
				.type-icon__name ic-trash

			.type-icon__item
				.type-icon__img
					+svg('ic-archive','ic-archive', '38', '38')
				.type-icon__name ic-archive

			.type-icon__item
				.type-icon__img
					+svg('ic-moon','ic-moon', '34', '34')
				.type-icon__name ic-moon

			.type-icon__item
				.type-icon__img
					+svg('ic-sun','ic-sun', '38', '38')
				.type-icon__name ic-sun

			.type-icon__item
				.type-icon__img
					+svg('ic-language','ic-language', '34', '34')
				.type-icon__name ic-language

			.type-icon__item
				.type-icon__img
					+svg('ic-setting','ic-setting', '34', '32')
				.type-icon__name ic-setting

			.type-icon__item
				.type-icon__img
					+svg('ic-play','ic-play', '27', '27')
				.type-icon__name ic-play